{% extends "layout/app.top.html" %}
{% block body %}
    <div class="content-wrap">
        {#Head block start#}
        <header class="hero-area" id="home">
            <div class="container">
                <div class="contents text-right">
                    <h1 class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                        IASA site of second education
                    </h1>
                    <p class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">
                        ОТДЕЛ ВТОРОГО ВЫСШЕГО И ПОСЛЕДИПЛОМНОГО ОБРАЗОВАНИЯ УНК "ИПСА" НТУУ "КПИ"
                    </p>
                    <a href="signup" class="btn btn-lg btn-primary wow fadeInUp" data-wow-duration="1000ms"
                       data-wow-delay="400ms">Subscribe</a>
                    <a href="#features" class="btn btn-lg btn-border wow fadeInUp" data-wow-duration="1000ms"
                       data-wow-delay="500ms">Learn More</a>
                </div>
            </div>
        </header>
        {#  Head block end  #}
        {#  Feature block start  #}
        <section id="features" class="section">
            <div class="container">
                <div class="section-header">
                    <h1 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">
                        News
                    </h1>
                    <h2 class="section-subtitle wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">
                        Who seeks after it and wants to have it
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="features">
                            <div class="icon">
                                <i class="mdi-action-settings"></i>
                            </div>
                            <div class="features-text">
                                <h4>Built-with Bootstrap 3.5.x</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="features">
                            <div class="icon">
                                <i class="mdi-action-done-all"></i>
                            </div>
                            <div class="features-text">
                                <h4>Material Design</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
                        <div class="features">
                            <div class="icon">
                                <i class="mdi-image-blur-linear"></i>
                            </div>
                            <div class="features-text">
                                <h4>Clean and Refreshing</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="650ms">
                        <div class="features">
                            <div class="icon">
                                <i class="mdi-communication-business"></i>
                            </div>
                            <div class="features-text">
                                <h4>Ready for Business or App</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="750ms">
                        <div class="features">
                            <div class="icon">
                                <i class="mdi-action-favorite"></i>
                            </div>
                            <div class="features-text">
                                <h4>Crafted with Love</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="850ms">
                        <div class="features">
                            <div class="icon">
                                <i class="mdi-hardware-phonelink"></i>
                            </div>
                            <div class="features-text">
                                <h4>Fully Responsive Layout</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {#    Feature section end  #}
        {#    Join us section start  #}
        <section id="cta">
            <div class="container">
                <div class="row text-center">
                    <h3 class="title-small wow bounce" data-wow-duration="1000ms" data-wow-delay="300ms">Join Us Today
                        and
                        Change Yourself</h3>
                    <a href="javascript:void(0)" class="btn btn-lg btn-border">Sign Up</a>
                </div>
            </div>
        </section>
        {#    Join us section end  #}
        {#    Contact section  #}
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h2 class="section-title">That's Where We Are</h2>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="info">
                                    <div class="icon">
                                        <i class="mdi-maps-map"></i>
                                    </div>
                                    <h4>Location</h4>
                                    <p>NSW, Sydney, Australia</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="info">
                                    <div class="icon">
                                        <i class="mdi-content-mail"></i>
                                    </div>
                                    <h4>Email</h4>
                                    <p>office@graygrids.com</p>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="col-md-6 col-sm-6">
                                <div class="info">
                                    <div class="icon">
                                        <i class="mdi-action-settings-phone"></i>
                                    </div>
                                    <h4>Phone Number</h4>
                                    <p>0753 016 572</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="info">
                                    <div class="icon">
                                        <i class="mdi-action-thumb-up"></i>
                                    </div>
                                    <h4>Social Media</h4>
                                    <p>@GrayGrids</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h2 class="section-title">Love to Hear From You</h2>
                        <form role="form" id="contactForm"
                              class="contact-form" data-toggle="validator"
                              novalidate="true" _lpchecked="1" action="POST">
                            <div class="form-group has-error">
                                <div class="controls">
                                    <i class="mdi-action-account-box"></i>
                                    <input type="text" id='name' class="form-control" placeholder="Name" required
                                           data-error="Please enter your name">
                                    <div class="help-block with-erros">
                                        <ul class="list-unstyled">
                                            <li>Please enter your name</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group has-error">
                                <div class="controls">
                                    <i class="mdi-content-mail"></i>
                                    <input type="email" id='email' class="email form-control" placeholder="E-mail"
                                           required
                                           data-error="Please enter your mail">
                                    <div class="help-block with-erros">
                                        <ul class="list-unstyled">
                                            <li>Please enter your email</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group has-error">
                                <div class="controls">
                                    <input type="text" id='msg_subject' class="form-control" placeholder="Subject"
                                           required
                                           data-error="Please enter your message subject">
                                    <div class="help-block with-erros">
                                        <ul class="list-unstyled">
                                            <li>Please enter your message subject</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group has-error">
                                <div class="controls">
                                <textarea id='message' rows="7" class="form-control" placeholder="Message" required
                                          data-error="Please write your message"></textarea>
                                    <div class="help-block with-erros">
                                        <ul class="list-unstyled">
                                            <li>Please write your message</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" id='submit' class="btn btn-primary disabled"
                                    style="pointer-events: all; cursor: pointer;">
                                Send Message
                            </button>
                            <div id='msgSubmit' class="h3 text-center hidden"></div>
                            <div class="clear-fix"></div>

                        </form>
                    </div>
                </div>
            </div>
        </section>

        <div class="map-area">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.546118378573!2d30.462783603833955!3d50.449554383709476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce831ba5c4c1%3A0xfbb4e2b6c934a3e8!2z0L_RgNC-0YHQv9C10LrRgiDQn9C10YDQtdC80L7Qs9C4LCAzN9CaMzUsINCa0LjRl9CyLCDQo9C60YDQsNC40L3QsA!5e0!3m2!1sru!2sus!4v1477254484307"
                        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}

